		<header>
		<h1>{{resume.basics.name}}</h1>
		<h3 class= "label">{{resume.basics.label}}</h3>

		{{#if resume.basics.picture}}
			<img src= "{{resume.basics.picture}}" class= "picture">
		{{/if}}

		<div id= "contact">
			<span class= "contact-header">
				<a href="https://maps.google.com/?q={{resume.basics.location.city}}, {{resume.basics.location.region}}, {{resume.basics.location.countryCode}}"><i title="ADDRESS" class="fa fa-map-marker left"></i>&nbsp;{{#if resume.basics.location.address}} {{resume.basics.location.address}}, {{/if}}{{resume.basics.location.city}}, {{resume.basics.location.region}}, {{resume.basics.location.countryCode}}</a>
			</span>
			<br/><br/>
			{{#if resume.basics.email}}
			<span class= "contact-header">
				<a href= "mailto:{{resume.basics.email}}" target= "_blank"><i title="EMAIL" class="fa fa-envelope left"></i>&nbsp;{{resume.basics.email}}</a>
			</span>
			<br/><br/>
			{{/if}}
			{{#if resume.basics.phone}}
			<span class= "contact-header">
				<a href= "tel:{{resume.basics.phone}}" target= "_blank"><i title="PHONE" class="fa fa-phone-square left"></i>&nbsp;{{resume.basics.phone}}</a>
			</span>
			<br/><br/>
			{{/if }}
			{{#if resume.basics.website}}
			<span class= "contact-header">
				<a href= "{{resume.basics.website}}" target= "_blank"><i title="WEBSITE" class="fa fa-globe left"></i>&nbsp;{{resume.basics.website}}</a>
			</span>
			<br><br>
			{{/if}}
		</div>
		<br>
		<div id= "profiles">
			{{#resume.basics.profiles}}
			<span class= "profile"><a href= "{{url}}" target= "_blank" class= "profile"><i class="fa fa-{{network}} left"></i>&nbsp;{{username}}</a></span> 
			{{/resume.basics.profiles}}
		</div>		
	</header>